.views {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.v-container.views {
  padding-block: 0;
}

.page-title {
  text-shadow: 2px 2px 2px black;
}
